In [5]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy

In [6]:
df=pd.read_csv('Downloads/price_.csv')

In [7]:
df

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [8]:
reg= LinearRegression()

In [9]:
reg.fit(df[['Weight']],df.Price)

LinearRegression()

In [10]:
df['predict_price']=reg.predict(df[["Weight"]])

In [11]:
df

   Weight  Price  predict_price
0       2     35      40.403226
1       4     60      45.645161
2       5     20      48.266129
3       3     50      43.024194
4       6     50      50.887097
5       5     55      48.266129
6       7     60      53.508065

In [24]:
price=df[['Price']].values
e=pd.DataFrame(price)
e.to_numpy()

array([[35],
       [60],
       [20],
       [50],
       [50],
       [55],
       [60]], dtype=int64)

In [25]:
predict=reg.predict(df[['Weight']])
d=pd.DataFrame(predict)
d.to_numpy()

array([[40.40322581],
       [45.64516129],
       [48.26612903],
       [43.02419355],
       [50.88709677],
       [48.26612903],
       [53.50806452]])

In [28]:
residuals=d-e
residuals

           0
0   5.403226
1 -14.354839
2  28.266129
3  -6.975806
4   0.887097
5  -6.733871
6  -6.491935

In [30]:
df['residuals']=residuals.abs()

In [31]:
df

   Weight  Price  predict_price  residuals
0       2     35      40.403226   5.403226
1       4     60      45.645161  14.354839
2       5     20      48.266129  28.266129
3       3     50      43.024194   6.975806
4       6     50      50.887097   0.887097
5       5     55      48.266129   6.733871
6       7     60      53.508065   6.491935